header {
  width: 100%;
    font-size: 20px;
    background-color: #D6FFDB;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    font-weight: bold;
}